name: evora_app
description: EVORA Personal Event Discovery & Digital Ticket App
version: 1.0.0+1


environment:
  sdk: '>=3.1.0 <4.0.0'


dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^3.10.1
  firebase_auth: ^5.3.3
  cloud_firestore: ^5.6.12
  qr_flutter: ^4.1.0
  google_fonts: ^6.2.1
  screenshot: ^3.0.0
  http: ^1.1.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700